body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9e2323;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.header, .footer {
    background-color: #f4f4f4;
    padding: 10px 0;
    text-align: center;
}
.content {
    margin-top: 20px;
}
.content h1 {
    font-size: 28px;
}
.content p {
    line-height: 1.6;
}
.back-link {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    color: #007BFF;
    text-decoration: none;
}
.back-link:hover {
    text-decoration: underline;
}